* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: auto;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul li a {
  padding: 10px 15px;
  font-weight: bolder;
  font-size: 1.55vw;
  color: #000000;
}

header ul li a:hover {
  color: #000000;
  border-radius: 15px;
  text-shadow: none;
}

footer {
  background: #fce138;
  width: 90%;
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 15px;
  margin: auto;
}

footer h2 {
  color: #024e76;
  font-size: 20px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

.input, .textarea, .select select {
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 30px;
  color: #363636;
}

img {
  display: flex;
  position: relative;
}

html {
  background: url(../images/bg-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

}

.loader {
  height: 20px;
  width: 20px;
}
.loader-wrapper.is-active {
  opacity: 1;
  z-index: 1;
}

.err-notification {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #dddddd;
  opacity: 0;
  z-index: -2;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.err-notification.is-active {
  opacity: 1;
  z-index: 1;
}
.format {
  width: 1280px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1280px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;  
  }

  header ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header ul li a {
    font-size: 20px;
  }
  
  main {

  }

}